.nav {
    /* justify-content: space-between; */
    align-items: center;
    color: #fff;
    background-color: #1d4ed8;
}

.links {
    /* display: flex; */
    /* list-style: none; */
    margin-right: 1rem;
}

.links li {
    /* height: 70px; */
    /* display: flex; */
    /* align-items: center; */
    padding: 0.25rem;
}